* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    /* border:2px solid; */
}

body {
    margin: 0;
    background: hsl(185, 75%, 39%);
    /* border: 10px solid; */
}

main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
}
h1 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}
hr {
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 90%);
}
/* ------------- For Background Pattern --------- */
/* .top-pattern {
    height: 50%;
}

.bottom-pattern {
    height: 50%;
    text-align: right;
}

.top-pattern, .bottom-pattern {
    position: relative;
}

.top-pattern img {
    margin-top: -10%;
    margin-left: -10%;
    max-height: 100%;
}
.bottom-pattern img {
    max-height: 100%;
    
    
} */

.card {
    text-align: center;
    width: min(90%, 20rem);
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    position: fixed;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    z-index: 100;
}

.cover-pattern {
    background-image: url(images/bg-pattern-card.svg);
    height: 150px;
    position: relative;
}
.profile {
    margin-top: 100px;
    border: 5px solid#fff;
    border-radius: 50%;
}
.name {
    margin-top: 5rem;

}
.age {
    font-weight: initial;
    color: hsl(227, 10%, 46%);
}
.location {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1.5rem;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    padding-inline: .5rem;
    padding-bottom: 1rem;
}
.stats-title {
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
}