* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    /* border:2px solid; */
}

body {
    margin: 0;
    background: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 35vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
}

main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
}
h1, p {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}
hr {
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 90%);
}

.card {
    text-align: center;
    width: min(90%, 20rem);
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    position: fixed;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    z-index: 100;
}

.cover-pattern {
    background-image: url(images/bg-pattern-card.svg);
    height: 150px;
    position: relative;
}
.profile {
    margin-top: 100px;
    border: 5px solid#fff;
    border-radius: 50%;
}
.name {
    margin-top: 5rem;

}
.age {
    font-weight: initial;
    color: hsl(227, 10%, 46%);
}
.location {
    font-size: 1rem;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1.5rem;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    padding-inline: .5rem;
    padding-bottom: 1rem;
}
.stats-title {
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
}
.stats-values {
    font-weight: bold;
    margin-bottom: 0;
}