*, *::before, *::after {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
 
body {
  margin: 0;
  min-width: 20rem;
}

main {
  margin: 10vh auto;
  width: min(86%, 1284px);
  row-gap: 3rem;
}

.flex {
  display: flex;
}

main, section.rating, section.review, .review__container {
  flex-direction: column;
}

section, article {
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

p {
  margin: 0;
}

.hero__txt, .review__txt {
  line-height: 1.5;
}

.hero, section.rating {
  text-align: center;
}

main > article p {
  color: hsl(305, 10%, 48%);
  padding: 0 0.8rem;
}

.clr-dark-magenta {
  color: hsl(300, 43%, 22%);
}

.bold {
  font-weight: bold;
}

section > article p {
  color: #fff;
}

section article,
div {
  border-radius: 0.5rem;
}

section article {
  background: hsl(300, 43%, 22%);
  padding: 1.5rem;
}

.rating-container {
  padding: 0.75rem 0;
  background: hsl(300, 24%, 96%);
}
.rating-container::before {
  content: url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg)
    "\00a0 \00a0"url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.review__header.colton::before {
  content: url(images/image-colton.jpg);
}
.review__header.irene::before {
  content: url(images/image-irene.jpg);
}
.review__header.anne::before {
  content: url(images/image-anne.jpg);
}

.review__header {
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
}

.review__header::before {
  transform: scale(0.45) translate(-40px, 0px);
  border-radius: 100%;
  overflow: hidden;
}

.review__header p {
    transform: translateX(-1.5rem);
}

.review__header p::after {
  content: "Verified Buyer";
  font-weight: normal;
  color: hsl(333, 80%, 67%);
  display: block;
  margin-top: 5px;
}

@media (min-width:601px) {
  html {
    font-size: 1.25rem;
  }
}

@media (min-width:769px) {

  main {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .hero {
    width: 35%;
    min-width: 305px;
  }
  section.rating {
    width: 50%;
  }

  .hero {
    text-align: left;
  }

  .hero__txt {
    padding: 0;
  }
}

@media (min-width: 1025px) {

  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  main {
    row-gap: 4rem;
  }
  
  section.flex.review {
    flex-direction: row;
  }

  .review__container {
    max-width: 416px;
    padding: 2.5rem 1.5rem;
  }

  .rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: initial;
  }

  .rating-container.center {
    align-self: center;
  }
  .rating-container.end {
    align-self: end;
  }

  .rating-container.start {
    align-self: start;
  }

  .rating-container::before {
    margin: 0;
  }
}