/* >>>>>>>>>> Mobile Screen <<<<<<<<<<< */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

:root {
    --font-size: 15px;
}

body {
    margin: 0;
    min-width: 20rem;
    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg-pattern-top-mobile.svg) left top / 100% no-repeat, url(images/bg-pattern-bottom-mobile.svg) left bottom / 100% no-repeat ;
}

main {
    margin: 10vh auto;
    width: min(86%, 1284px);
    row-gap: 3rem;
}

.flex {
    display: flex;
}

main,
section.rating,
section.review,
.review__container {
    flex-direction: column;
}

section,
article {
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

p {
    margin: 0;
}

.hero__txt,
.review__txt {
    line-height: 1.5;
}

.hero,
section.rating {
    text-align: center;
}

main>article p {
    color: hsl(305, 10%, 48%);
    padding: 0 0.8rem;
}

.clr-dark-magenta {
    color: hsl(300, 43%, 22%);
}

.bold {
    font-weight: bold;
}

section>article p {
    color: #fff;
}

section article,
div {
    border-radius: 0.5rem;
}

section article {
    background: hsl(300, 43%, 22%);
    padding: 1.5rem;
}

.rating-container {
    padding: 0.75rem;
    background: hsl(300, 24%, 96%);
}

.rating-container::before {
    --rating-icon:
        url(images/icon-star.svg) "\00a0 \00a0"
        url(images/icon-star.svg) "\00a0 \00a0"
        url(images/icon-star.svg) "\00a0 \00a0"
        url(images/icon-star.svg) "\00a0 \00a0"
        url(images/icon-star.svg);
    content: var(--rating-icon);
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.review__header.colton::before {
    content: url(images/image-colton.jpg);
}

.review__header.irene::before {
    content: url(images/image-irene.jpg);
}

.review__header.anne::before {
    content: url(images/image-anne.jpg);
}

.review__header {
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
}

.review__header::before {
    transform: scale(0.45) translate(-40px, 0px);
    border-radius: 100%;
    overflow: hidden;
}

.review__header p {
    transform: translateX(-1.5rem);
}

.review__header p::after {
    content: "Verified Buyer";
    font-weight: normal;
    color: hsl(333, 80%, 67%);
    display: block;
    margin-top: 5px;
}

@media (min-width:601px) {
    html {
        font-size: 1.25rem;
    }
}

/* >>>>>>>>>>>>>> For Tablet Screens <<<<<<<<<<< */
@media (min-width:769px) {
    body {
        min-height: 100dvh;
        background: url(images/bg-pattern-top-desktop.svg) left top / 40% no-repeat, url(images/bg-pattern-bottom-desktop.svg) right bottom / 75% no-repeat ;
    }
    main {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .hero {
        width: 35%;
        min-width: 305px;
    }

    section.rating {
        width: 50%;
    }

    .hero {
        text-align: left;
    }

    .hero__txt {
        padding: 0;
    }

    main>.hero>h1.hero__heading {
        max-width: 20rem;
    }

    main>.hero>p.hero__txt {
        max-width: 18rem;
        line-height: 1rem;
    }
}

/* >>>>>>>>>>>>> For Laptop Screens <<<<<<<<<<<<<< */
@media (min-width: 1025px) {

    /* main > * {
        border: 1px solid red;
    }   */
    main>.hero,
    main>.rating {
        width: 45%;
    }

    main {
        flex-flow: row;
        gap: 3rem;
        flex-wrap: wrap;
    }

    main>.rating {
        gap: .85rem;
    }

    main>.rating>.rating-container {
        width: 75%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.1rem;
        padding: .55rem 1.4rem;
    }

    main>.rating>.rating-container::before {
        margin-top: .3rem;
    }


    main>.rating>.start,
    main>.review>.start {
        align-self: flex-start;
    }

    main>.rating>.center,
    main>.review>.center {
        align-self: center;
    }

    main>.rating>.end,
    main>.review>.end {
        align-self: flex-end;
    }

    main>.review {
        display: flex;
        flex-flow: row;
        min-height: 13.5rem;
    }

}