*, *::before, *::after {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
 
body {
  margin: 0;
  min-width: 20rem;
}

main {
  margin: 10dvh auto;
  width: 86%;
  gap: 3rem;
}

.flex {
  flex-direction: column;
  display: flex;
}

section, article {
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

p {
  margin: 0;
}

article h1,
main > article p,
section > div {
  text-align: center;
}

main > article p {
  color: hsl(305, 10%, 48%);
  padding: 0 0.8rem;
}

.clr-dark-magenta {
  color: hsl(300, 43%, 22%);
}

.bold {
  font-weight: bold;
}

section > article p {
  color: #fff;
}

section article,
div {
  border-radius: 0.5rem;
}

section article {
  background: hsl(300, 43%, 22%);
}

.rating-container {
  padding: 0.75rem 0;
  background: hsl(300, 24%, 96%);
}
.rating-container::before {
  content: url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg)
    "\00a0 \00a0"url(images/icon-star.svg) "\00a0 \00a0"url(images/icon-star.svg);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

section article {
  padding: 1.5rem;
}

.article__header.colton::before {
  content: url(images/image-colton.jpg);
}
.article__header.irene::before {
  content: url(images/image-irene.jpg);
}
.article__header.anne::before {
  content: url(images/image-anne.jpg);
}

.article__header {
  flex-direction: row;
  align-items: center;
  height: 2.5rem
}

.article__header::before {
  transform: scale(0.45) translate(-40px, 0px);
  border-radius: 100%;
  overflow: hidden;
}

.article__header p {
    transform: translateX(-1.5rem);
}

.article__header p::after {
  content: "Verified Buyer";
  font-weight: normal;
  color: hsl(333, 80%, 67%);
  display: block;
  margin-top: 5px;
}